zero-to-mastery/complete-product-designer/krita_assets/sketching-user-flows-2.kra
zero-to-mastery/complete-product-designer/krita_assets/sketching-user-flows.kra
zero-to-mastery/complete-product-designer/krita_assets/sketching-user-flows.ppm
