[submodule "jonas.io"]
	path = jonas.io
	url = https://github.com/mnichols08/jonas.io

[submodule "colt-steele"]
	path = colt-steele
	url = https://github.com/mnichols08/colt-steele

[submodule "youtube/javascript-mastery/banking-app"]
	path = youtube/javascript-mastery/banking-app
	url = https://github.com/mnichols08/banking-app
[submodule "youtube/javascript-mastery/youtube/javascript-mastery/banking-app"]
	path = youtube/javascript-mastery/youtube/javascript-mastery/banking-app
	url = https://github.com/mnichols08/banking-app
